* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-purple-col: #AB87FF;
    --sec-purple-col: #D59AF2;
    --pink-col: #FFB6D1;
    --blue-col: #B4E1FF;
    --green-col: #C1FF9B;
}
body {
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
}




/**** UTILS ****/
.relative {
    position: relative;
}

.d-flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.justify-ctr {
    justify-content: center;
}
.justify-btw {
    justify-content: space-between;
}
.align-ctr {
    align-items: center;
}

.mt-10 {
    margin-top: 10px;
}

.pointer {
    cursor: pointer;
}

.rotate-90 {
    transform: rotate(90deg);
}
.rotate-90-origin {
    transform: rotate(-90deg);
    transform-origin: 25% 50%;
}




#main-cotainer {
    width: 100%;
    height: 100vh;
    position: relative;
}
#canvas {
    position: relative;
}


#loading-screen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;

    color: var(--main-purple-col);
    background: linear-gradient(135deg, var(--sec-purple-col) 25%, var(--pink-col) 25%, var(--pink-col) 50%, var(--blue-col) 50%, var(--blue-col) 75%, var(--green-col) 75%);
    background-size: 200% 200%;
    animation: gradient 2.8s ease infinite;
}
@keyframes gradient {
    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

#logo-img {
    height: 75px;
    margin-bottom: 25px;
}

#enter-btn {
    width: 160px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid var(--main-purple-col);
    position: relative;
    overflow: hidden;
}
#enter-btn-fx {
    width: 100%;
    height: 0;
    background-color: var(--main-purple-col);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: height 0.2s ease-in-out, opacity 0.2s ease-in-out;
    z-index: 1;
}
#enter-btn.active {
    cursor: pointer;
}
#enter-btn.active:hover #enter-btn-fx.active {
    opacity: 0.7;
}
#enter-text {
    color: white;
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


#ui-ux-controls-container {
    position: absolute;
    bottom: 25px;
    left: 25px;
}
#ui-ux-controls-container .fa-gear {
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 10px;
}


#ui-ux-controls {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 25px;
}
input[type="range"].audio {
    -webkit-appearance: none;
    appearance: none;
    width: 150px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    outline: none;
    margin-left: 10px;
}
input[type="range"].audio::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    border-radius: 50%;
    cursor: pointer;
}

.no-volume {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 27px;
    height: 3px;
    background-color: #ff0000;
    border-radius: 5px;
    transform: rotate(-45deg);
    transform-origin: 0% 0%;
}


#projects-handler {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-btn,
.back-btn {
    background-color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid #000000;
    transition: background-color 0.2s ease-in-out;
}
.project-btn:hover,
.back-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.project-btn {
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 20px;
}
.back-btn {
    margin-top: 15px;
    border-radius: 50%;
}